<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block styles %}
        <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}
{% block title %}
about us
{% endblock %}
{% block content %}
<div class="aboutusLayout">
        <div class="container aboutusLayout_container">
                <div class="aboutus who">
                        <a>wer ist HammerWein?</a>
                </div>
                <div class="aboutus why">
                        <a>warum HammerWein?</a>
                </div>
                <div class="aboutus where">
                        <a>wo HammerWein?</a>
                </div>
        </div>
</div>
{% endblock %}
