
/*
 *
 * FONTS
 *
 */

@font-face {
                     font-family: 'JetBrainsMono Nerd Font';
                     src: url("/static/fonts/JetBrains_Mono_Regular_Nerd_Font_Complete.ttf");
}
@font-face {
                     font-family: 'Untitled1';
                     src: url("/static/fonts/HammerWein-Regular.ttf");
}


/*
 *
 * HEADER
 *
 */
.siteHeader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 12vh;
        background-color: darkorange;
        border-bottom: solid;
}

.siteHeader_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 12vh;
        margin-left: 3vw;
        margin-right: 3vw;
}
/*
 * TITLE
 */
.siteHeader_container .title {
        font-family: Untitled1;
        font-weight: bold;
        font-size: 9vh;
        color: black;
        margin-top: 2vh;
        text-decoration: none;
}
/*
 * PAGE TITLE
 */
.siteHeader_container .pageTitle {
        font-family: Untitled1;
        font-weight: bold;
        font-size: 6vh;
        margin-left: 1vw;
        margin-top: 6vh;
        color: purple;
}
/* SEARCH */
.searchButton {
        margin-left: auto;
        margin-right: 2vw;

}
#search {
        height: 8vh;
        width: 8vh;
        color: transparent;
        font-size: 6vh;
        background: transparent;
        text-decoration: none;
        border: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
}
/*
#search:hover {
        color: purple;
}
*/

/*
 * NAVIGATION
/* MENU */
.navigation {
        position: relative;
        height: 6vh;
        width: 6vh;
        text-decoration: none;
        /*background: orange;*/
        z-index: 1;
}
#menuToggle {
        position: absolute;
        margin-top: auto;
        height: 6vh;
        width: 6vh;
        opacity: 0;
        z-index: 2;
}
#navigationIcon {
        position: absolute;
        z-index: 3;
}
#navigationIcon span {
        display: block;
        margin: auto;
        margin-top: 0.6vh;
        margin-bottom: 0.6vh;
        height: 0.9vh;
        width: 6vh;
        background: black;
        border-radius: 9px;
}
#navigationIcon:hover span {
        background: purple;
}
#menu {
        position: absolute;
        top: 9vh;
        right: -3vw;
        width: 100vw;
        height: 88vh;
        background-color: purple;
}
#menuChoices {
        margin-top: 15vh;
}
#menuChoices li {
        display: flex;
        flex-direction: column;
        font-family: Untitled1;
        font-weight: bold;
        font-size: 6vh;
        color: black;
        align-items: center;
        margin-bottom: 3vh;
}
#menuChoices #suche {
        margin-bottom: 6vh;
}
#menuChoices a {
        text-decoration: none;
}

#menuChoices li:hover {
        color: darkorange;
}

/*
 * MAIN BODY
 *
 */

/*
 *
 * FOOTER
 *
 */
