
/*
 *
 * FONTS
 *
 */

@font-face {
                     font-family: 'JetBrains_Mono_Regular_Nerd_Font_Complete';
                     src: local('JetBrains_Mono_Regular_Nerd_Font_Complete'),
                     url('{% static 'fonts/JetBrains_Mono_Regular_Nerd_Font_Complete.ttf' %} format("truetype")');
}
/*
 *
 * HEADER
 *
 */

div.containerHeading {
        position: absolute;
        display: block;
        border: solid;
        top: 0px;
        left: 0px;
        width: calc(100vw);
        height: calc(17vh);
}
/*
 * TITLE
 */
div.title h1 {
        position: absolute;
        top: 1%;
        left: 1%;
        margin-top: 1%;
        font-size: 60px;
        color: tomato;
        text-decoration: none;

}
/*
 * PAGE TITLE
 */
div.pageTitle h2 {
        position: absolute;
        top: 27%;
        left: 34%;
        font-size:40px;
        color: purple;
        text-decoration: none;

}


/*
 * NAVIGATION
 */

/* MENU */
div.menuButton {
        position: absolute;
        top: 33%;
        right: 5%;
}
#nav_icon span {
        display: block;
        margin: 4px;
        height: 4px;
        width: 36px;
        background: black;
        border-radius: 9px;
}
#menu:not(:checked) ~ #nav_icon span:hover {
        background: tomato;
}
#menu:checked ~ #nav_icon span:nth-child(1) {
        -webkit-transform: translate(0px, 10px) rotate(-135deg);
        -moz-transform: translate(0px, 10px) rotate(-135deg);
        -o-transform: translate(0px, 10px) rotate(-135deg);
        transform: translate(0px, 10px) rotate(-135deg);
}
#menu:checked ~ #nav_icon span:nth-child(2) {
        opacity: 0;
}
#menu:checked ~ #nav_icon span:nth-child(3) {
        -webkit-transform: translate(0px, -6px) rotate(135deg);
        -moz-transform: translate(0px, -6px) rotate(135deg);
        -o-transform: translate(0px, -6px) rotate(135deg);
        transform: translate(0px, -6px) rotate(135deg);
}
input[type="checkbox"] {
        display: none;
}
#nav_icon span {
        cursor: pointer;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
}

/* SEARCH */
#search {
        position: absolute;
        top: 18%;
        right: 11%;
        width: calc(5vw);
        height: calc(10vh);
        font-size: 41px;
        border: none;
        text-decoration: none;
        background: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg)
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);

}
#search:hover {
        opacity: 1;
        color: tomato;
}
/*
 *
 * MAIN BODY
 *
 */

/*
 *
 * FOOTER
 *
 */



