
/*
 *
 * FONTS
 *
 */

@font-face {
                     font-family: 'JetBrains_Mono_Regular_Nerd_Font_Complete';
                     src: local('JetBrains_Mono_Regular_Nerd_Font_Complete'),
                     url('{% static 'fonts/JetBrains_Mono_Regular_Nerd_Font_Complete.ttf' %} format("truetype")');
}
/*
 *
 * HEADER
 *
 */

div.containerHeading {
        position: absolute;
        border: solid;
        top: 0px;
        left: 0px;
        width: calc(100vw);
        height calc(100vh);
        color: blue;
        z-index: 1;
}
/*
 * TITLE
 */
div.title a {
        position: absolute;
        top: 50%;
        left: 5%;
        font-size: 60px;
        color: tomato;
        text-decoration: none;

}
/*
 * PAGE TITLE
 */
div.pageTitle h2 {
        position: absolute;
        top: 50%;
        left: 20%;
        font-size:40px;
        color: purple;
        text-decoration: none;

}




/*
 * NAVIGATION
 */

/* MENU */

/* SEARCH */
.search {
        position: fixed;
        top: 50%;
        right: 15%;
        text-decoration: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);

}
/*
 *
 * MAIN BODY
 *
 */

/*
 *
 * FOOTER
 *
 */



