.detaillayout {
        position: absolute;
        top: 12vh;
        left: 0px;
        width: 100vw;
        height: 88vh;
        background-color: mediumorchid;
}
.objectTitle {
        grid-area: title;
        height: 10vh;
        background: mediumpurple;
}
.otitle {
        font-family: Untitled1;
        font-weight: bold;
        font-size: 8vh;
        color: darkmagenta;
        margin-top: auto;
        margin-left: 2vw;
        margin-bottom: auto;
}
.objectPicture {
        grid-area: picture;
        height: 70vh;
        background: green;
        text-align: center;
        margin-right: auto;
}

.picture {
        width: inherit;
        height: auto;
}

.objectProfile {
        grid-area: profile;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        display: grid;
        column-gap: 3vw;
        height: 60vh;
        flex-direction: row;
        background: mediumorchid;
}
.leftleftSide {
        margin-top: 6vh;
        grid-column: 1;
}
.leftrightSide {
        margin-top: 6vh;
        margin-right: 3vw;
        grid-column: 2;
}
.rightleftSide {
        margin-top: 6vh;
        margin-left: 3vw;
        grid-column: 3;
}
.rightrightSide {
        margin-top: 6vh;
        grid-column: 4;
}
.profile {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-family: Untitled1;
        font-weight: bold;
        font-size: 5vh;
}
.objectReview {
        grid-area: review;
        height: 29vh;
        background: magenta;
}
p {
        font-family: Untitled1;
        font-weight:  bold;
        font-size: 5vh;
}

.detaillayout_container {
        display: grid;
        grid-template-areas:
                'picture picture title   title   title'
                'picture picture profile profile profile'
                'picture picture profile profile profile'
                'picture picture profile profile profile'
                'picture picture profile profile profile'
                'review  review  review  review  review'
                'review  review  review  review  review';
}
.detaillayout_container > div {
        text-align: center;
        display: flex;
}
