{% load static %}
<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">{% block styles %}{% endblock %}</link>
                <script type="text/javascript" src={% static 'javascript/menu.js' %}></script>
        </head>
        <body>
                <header class="siteHeader">
                        <div class="container siteHeader_container">
                                <a href="{% url 'home' %}" class="title">HammerWein</a>
                                <a class="pageTitle">
                                        {% block title %}home{% endblock %}
                                </a>
                                <div class="searchButton">
                                        <button id="search">&#9906;</button>
                                </div>
                                <div class="menuButton">
                                        <nav class="navigation">
                                                <input type="checkbox" id="menuToggle" onclick="menuFunction()">
                                                <div id="menu" style="display:none">
                                                        <ul id="menuChoices">
                                                                <a href="{% url 'home' %}"><li>home</li></a>
                                                                <a href="{% url 'products' %}"><li>products</li></a>
                                                                <a href="{% url 'aboutus' %}"><li>about us</li></a>
                                                        </ul>
                                                </div>
                                                <label id="navigationIcon" for="menuToggle">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                </label>
                                        </nav>
                                </div>
                        </div>
                </header>
                <!--
                  MAIN BODY
                -->

                <div id="pageContent">
                        {% block content %}
                        {% endblock %}
                </div>
        </body>
        <!--
                FOOTER
        -->
        <footer>


        </footer>


</html>

