{% load static %}
<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
                {% block styles %}{% endblock %}
                <div id="title">
                        <a href="{% url 'home' %}">HammerWein</a>
                </div>
                <nav role="navigation">
                        <div id="menuToggle">
                                <input type="checkbox"/>
                                <span></span>
                                <span></span>
                                <span></span>
                                <ul id="menu">
                                        <a href="{% url 'home' %}"><li>home</li></a>
                                        <a href="{% url 'products' %}"><li>products</li></a>
                                        <a href="{% url 'aboutus' %}"><li>about us</li></a>
                                </ul>
                        </div>
                        <button class="search">&#9906;</button>
                </nav>


        </head>

        <body>
                <div id="pageTitle">
                        {% block title %}
                                <h2> home </h2>
                        {% endblock %}
                </div>
                <div id="pageContent">
                        {% block content %}
                        {% endblock %}
                </div>
        </body>
        <footer>
        </footer>


</html>

