.aboutusLayout {
        position: absolute;
        top: 12vh;
        left: 0px;
        width: 100vw;
        height: 88vh;
        color: black;
}
.aboutusLayout_container {
        display: grid;
        width: inherit;
        height: 258vh;
        text-align: left;
        justify-content: center;
}
.aboutus {
        font-family: Untitled1;
        font-size: 6vh;
        font-weight: bold;
        width: 100vw;
}
a {
        color: black;
        margin-left: 5vw;
}
a:hover {
        color: darkorange;
}

.who {
        background: teal;
}

.why {
        background: royalblue;
}

.where {
        background: mediumorchid;
}
