<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block styles %}
        <link rel="stylesheet" href="{% static 'css/braendedetail.css' %}">
{% endblock %}
{% block title %}
products/braende
{% endblock %}
{% block content %}
<div class="detaillayout">
        <div class="detaillayout_container">
                <div class="objectTitle">
                        <a class="otitle">{{ object.titel }}</a>
                </div>
                <div class="objectPicture">
                        <img class="picture" src="{% static 'images/liquor-bottle-drawing-52.jpg' %}"/>
                </div>
                <div class="objectProfile">
                        <div class="leftleftSide">
                                <a class="profile">Land: </a>
                                <a class="profile">Region: </a>
                                <a class="profile">Jahrgang: </a>
                        </div>
                        <div class="leftrightSide">
                                <a class="profile">{{ object.land }}</a>
                                <a class="profile">{{ object.region }}</a>
                                <a class="profile">{{ object.jahrgang }}</a>
                        </div>
                        <div class="rightleftSide">
                                <a class="profile">Inhalt: </a>
                                <a class="profile">Alk: </a>
                        </div>
                        <div class="rightrightSide">
                                <a class="profile">{{ object.inhalt }} l</a>
                                <a class="profile">{{ object.alk }} %</a>
                        </div>
                </div>
                <div class="objectReview">
                        <p>TEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXT</p>
                </div>
        </div>
</div>
{% endblock %}
