<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block styles %}
        <link rel="stylesheet" href="{% static 'css/braende.css' %}">
{% endblock %}
{% block title %}
products/braende
{% endblock %}
{% block content %}
<div class="listlayout">
        <div class="listlayout_container">
                {% for obj in page_obj %}
                <div class="grid-item">
                        <div class="item-picture">
                                <img class="picture" src="{% static 'images/liquor-bottle-drawing-52.jpg' %}"/>
                        </div>
                        <div class="item-overview">
                                <a href="{% url 'braende_detail' obj.id %}" class="overview-title">{{ obj.titel }}</a></br>
                                <a class="overview">{{ obj.land }}</a></br>
                                <a class="overview">{{ obj.jahrgang }}</a></br>
                        </div>
                </div>
                {% endfor %}
        </div>
        <div class="pagination">
                <span class="step-links">
                        {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                </span>
        </div>
</div>
{% endblock %}
