<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block styles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block title %}
products
{% endblock %}
{% block content %}
<div class="productsLayout">
        <div class="container productsLayout_container">
                <div class="products wein">
                        <a href="{% url 'wein' %}">wein</a>
                </div>
                <div class="products braende">
                        <a href="{% url 'braende' %}">braende</a>
                </div>
              	<div class="products spirituosen">
                        <a href="{% url 'spirituosen' %}">spirituosen</a>
                </div>
       	        <div class="products likoere">
                        <a href="{% url 'likoere' %}">likoere</a>
                </div>
       	        <div class="products sonstiges">
                        <a href="{% url 'sonstiges' %}">sonstiges</a>
                </div>
        </div>
</div>
{% endblock %}
