
<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block styles %}
        <link rel="stylesheet" href="{% static 'css/weindetail.css' %}">
{% endblock %}
{% block title %}
products/wein
{% endblock %}
{% block content %}
<div class="detaillayout">
        <div class="detaillayout_container">
                <div class="objectTitle">
                        <a class="otitle">{{ object.titel }}</a>
                </div>
                <div class="objectPicture">
                        <img class="picture" src="{% static 'images/vecteezy_beverage-liqueur-and-drink-cartoon_.jpg' %}"/>
                </div>
                <div class="objectProfile">
                        <div class="leftSide">
                                <a class="profile">Winzer: {{ object.winzer }}</a>
                                <a class="profile">Weinart: {{ object.weinart }}</a>
                                <a class="profile">Rebsorte: {{ object.rebsorte }}</a>
                                <a class="profile">Ausbau: {{ object.ausbau }}</a>
                                <a class="profile">Land: {{ object.land }}</a>
                                <a class="profile">Region: {{ object.region}}</a>
                                <a class="profile">Jahrgang: {{ object.jahrgang }}</a>
                        </div>
                        <div class="rightSide">
                                <a class="profile">Inhalt: {{ object.inhalt }} l</a>
                                <a class="profile">Alk: {{ object.alk }} %</a>
                                <a class="profile">Saeure: {{ object.saeure}} %</a>
                                <a class="profile">Restzucker: {{ object.restzucker }} gr</a>
                                <a class="profile">Sulfite: {{ obj.sulfite }}</a>
                                <a class="profile">added: {{ object.added}}</a>
                        </div>



                </div>
                <div class="objectReview">
                        <p>TEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXT</p>
                </div>
        </div>
</div>
{% endblock %}
